{% extends 'base.html' %}
{% load string_tags %}

{% block content %}
<div class="title">
    <h1 class="d-inline-block">{{ dish.title }}</h1>
    <a href="{% url 'food:editing' dish.pk %}"><i></i>Edit</a>
</div>

<div>
    {% for meal in dish.meals.all %}
    <span class="badge badge-info">{{ meal }}</span>
    {% endfor %}
</div>

<ul>
    {% for ingredient_str in dish.ingredients_json|dict_to_ingredients %}
    <li>{{ ingredient_str }}</li>
    {% endfor %}
</ul>

<div>{{ dish.description|markdownify }}</div>

{{ dish.nutrients_json }}

<table>
    {% for nutrient, amount in nutrients %}
    <tr>
        <td>{{ nutrient }}</td>
        <td>{{ nutrient.default_unit_title }}</td>
        <td>{{ amount|floatformat:-2 }}</td>
        <td>{{ nutrient.dri }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}