{% extends 'base.html' %}
{% load string_tags %}

{% block content %}
    <h1>{{ obj.title }}</h1>

    <div>
    {% for meal in obj.meals.all %}
        <span class="label">{{ meal }}</span>
    {% endfor %}

    </div>

    <div>{{ obj.description|markdownify }}</div>

    <ul>
    {% for ingredient in obj.ingredients.all %}
        <li>{{ ingredient }} - {{ ingredient.amount }} {{ ingredient.units }}</li>
    {% endfor %}
    </ul>

    <div>{{ obj.preparation|markdownify }}</div>

    <table>
    {% for nutrient, amount in nutrients %}
        <tr>
            <td>{{ nutrient }}</td>
            <td>{{ nutrient.default_unit_title }}</td>
            <td>{{ amount|floatformat:-2 }}</td>
            <td>{{ nutrient.dri }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}